@using ERPack.Web.Startup
@using ERPack.Web.Models.HostTaxationInfo;
@model AddEditHostTaxationDetailsModel

@{
    ViewBag.Title = L("AddEditHostTaxatinInfo");
    Layout = null;
}

<form id="hosttaxationinfoform">
    <div class="row">
        <input type="hidden" name="Id" value="@Model.Id" />
        <input type="hidden" name="TenantId" value="@Model.TenantId" />
        <div class="col-12 col-md-6 d-flex flex-column form-group required row mr-3">
            <label class="col-form-label">AddressName</label>
            <div>
                <input type="text" name="AddressName" id="addressName" class="form-control" required value="@Model.AddressName">
            </div>
        </div>
        <div class="col-12 col-md-6 d-flex flex-column form-group required row">
            <label class="col-form-label">Address 1</label>
            <div>
                <input type="text" name="Address1" id="address1" class="form-control" required value="@Model.Address1">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 d-flex flex-column form-group row mr-3">
            <label class="col-form-label">Address 2</label>
            <div>
                <input type="text" name="Address2" id="address2" class="form-control" value="@Model.Address2">
            </div>
        </div>
        <div class="col-12 col-md-6 d-flex flex-column form-group required row">
            <label class="col-form-label">City</label>
            <div>
                <input type="text" name="City" id="city" class="form-control" required value="@Model.City">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 d-flex flex-column form-group required row mr-3">
            <label class="col-form-label">State</label>
            <div>
                @Html.DropDownListFor(m => m.State, new SelectList(Model.States, "StateName", "StateName", Model.State), "Select State", new { @class = "form-control", @id = "state", @required = "required" })
            </div>
        </div>
        <div class="col-12 col-md-6 d-flex flex-column form-group required row">
            <label class="col-form-label">Country</label>
            <div>
                @Html.DropDownListFor(m => m.Country, new SelectList(Model.Countries, "CountryName", "CountryName", Model.Country), "Select Country", new { @class = "form-control", @id = "country", @required = "required" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 d-flex flex-column form-group required row mr-3">
            <label class="col-form-label">Pin Code</label>
            <div>
                <input type="text" name="PinCode" id="pincode" class="form-control" required value="@Model.PinCode" maxlength="6">
                <span class="text-danger" id="pinCodeError"></span>
            </div>
        </div>
        <div class="col-12 col-md-6 d-flex flex-column form-group required row">
            <label class="col-form-label">PAN No.</label>
            <div>
                <input type="text" name="PANNumber" id="panNumber" maxlength="10" class="form-control" required value="@Model.PANNumber">
                <span class="text-danger" id="panError"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 d-flex flex-column form-group required row mr-3">
            <label class="col-form-label">GST No.</label>
            <div>
                <input type="text" name="GSTNumber" id="GSTNumber" maxlength="15" class="form-control" required value="@Model.GSTNumber">
                <span class="text-danger" id="gstError"></span>
            </div>
        </div>
        <div class="align-items-center col-12 col-md-6 form-group mb-0 mt-3 row">
            @* <input type="checkbox" class="mt-1" id="isDefault" name="IsDefault" @(Model.IsDefault ? "ckecked" : "")> *@
            @Html.CheckBoxFor(model => model.IsDefault, new { @class = "mt-1", id = "IsDefault", onchange = "onIsDefaultChange()" })
            <label class="col-form-label ml-2">Is Default</label>
        </div>
    </div>
    <div class="float-right">
        <button type="submit" class="btn btn-primary" id="submit-hostTaxationForm">Submit</button>
    </div>
</form>

@section scripts
{
    <script src="~/view-resources/Views/HostInfo/AddEditHostTaxationInfo.js" asp-append-version="true"></script>
}
<script>
    function onIsDefaultChange() {
        var isDefaultChecked = $("#IsDefault").prop('checked');

        if (!isDefaultChecked) {
            abp.message.info(
                "Atleast one address can be marked as default.",
                null,
                {
                    confirmButtonText: "OK"
                }
            );
            $("#IsDefault").prop('checked', true);
            return;
        }
        ChangeDefaultDetails(isDefaultChecked);
    }    
   
    function ChangeDefaultDetails(isDefaultChecked) {
        abp.message.confirm(
            abp.utils.formatString(
                'Are you sure you want to change the default Company Taxation/Address Details details?'
            ),
            null,
            (isConfirmed) => {
                if (isConfirmed) {
                     $("#IsDefault").prop('checked', isDefaultChecked);
                } else {
                     $("#IsDefault").prop('checked', !isDefaultChecked);
                }
            }
        );
    }

    $('#panNumber,#GSTNumber').keyup(function () {
        var panNumber = $(this).val();
        var panNumber = panNumber.toUpperCase();
        $(this).val(panNumber);
    })
</script>