@using Abp.Authorization.Users
@{
    ViewBag.Title = L("SetPassword");

}
@section scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/Account/SetPassword.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Account/SetPassword.min.js" asp-append-version="true"></script>
    </environment>
}
<div class="set-password">    
    <h4 class="text-center">Set Password</h4>
    <form id="SetPassword" autocomplete="off" class="form-horizontal">
        <input type="hidden" name="UserId" id="UserId" value="@ViewBag.UserID" />
        <div class="input-group mb-3">
            <input type="password" class="form-control" name="NewPassword" id="NewPassword" placeholder="@L("Password")" required maxlength="@AbpUserBase.MaxPlainPasswordLength">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                </div>
            </div>
        </div>     
        <div class="input-group mb-3">
            <input type="password" class="form-control" name="ConfirmNewPassword" id="ConfirmNewPassword" placeholder="@L("ConfirmPassword")" required maxlength="@AbpUserBase.MaxPlainPasswordLength">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                </div>
            </div>
        </div>        
        <button type="submit" class="btn btn-flat btn-primary float-right col-3 save-button float-right">@L("Save")</button>
    </form>
</div>